body {
    background-color: #00AFB9;
}

.namedis {
    font-family: 'Xanh Mono', monospace;
}

.titles {
    font-size: 30px;
    text-align: center;
}

#nome {
    font-size: 50px;
    text-align: center;
}

#habilist {
    background-color: #FED9B7;
}

.html {
    font-size: 25px;
    color: red;
}

.css {
    font-size: 16px;
    color: blue;
}

.jscript {
    font-size: 20px;
    color: cadetblue;
}

.econometria{
    font-size: 30px;
}

.estatistica {
    font-size: 18px;
    color: darkorange;
}

.tecinfo {
    font-size: 23px;
    color: deeppink;
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}